html, body {
    margin: 0;
    background-image: url('stacked-peaks-haikei.svg');
    background-repeat: no-repeat;
}
.navigation-container {
    display: flex;
    flex-direction: row;
    font-family: 'Jost';
    font-size: 2rem;
    color: #EEEEEE;
}
nav {
    margin-top: 1rem;
    margin-left: 3rem;
}
nav a:visited {
    color:black;
}
.logo {
    height: 50px;
    margin-top: 1rem;
    margin-left: 1rem;
}
.main-container {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
}
.form-card {
    display: flex;
    margin: auto;
    width: 70%;
    height: 45rem;
    background-color: #EEEEEE;
    flex-direction: column;
    border-radius: 5%;
}
.form-card-content {
    margin-left: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 2rem;
}
.card-subtitle {
    font-family: 'Jost';
}
.form {
    display: flex;
    flex-direction: column;
    font-family: 'Jost';
    font-size: 1rem;
    width: 60%;
    margin-top: 1.5rem;
}
select {
    margin-top: 0.5rem;
}
textarea {
    margin-top: 0.5rem;
    resize: none;
    font-family: 'Jost';
}
.graphic {
    height: 400px;
}
.submit-button {
    background-color: #65a391;
    height: 3rem;
    width: 7rem;
    margin-top: 1rem;
    color: #EEEEEE;
    font-family: 'Jost';
    border: none;
    font-size: 1rem;
}
.submit-button:hover {
    cursor: pointer;
}
select {
    margin-bottom: 0.5rem;
    height: 2rem;
}
input {
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
    height: 1.5rem;
}
.title {
    font-family: 'Jost';
}
.subtitle {
    font-family: 'Jost';
}