/* Font Weight:
Normal: 400, 
Bold: 700, 
Heavy: 900 */

body{
    font-family: articulat-cf,sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: #eeeded;
    }

.reportcard {
    width: 60%;
    height: 600px;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 15px;
    background-color: #fff;

    border-radius: 15px;
    border-style: solid;
    border-width: 1px;
    border-color: #f6f6f6;
    box-shadow: 1px 1px 8px 2px #e4e4e4;
}

.reportcard > h2 {
    text-align: center;
}

h1 {
    font-family: articulat-heavy-cf,sans-serif;
    font-weight: 900;
    font-style: normal;
}

h2 {
    font-family: articulat-cf,sans-serif;
    font-weight: 700;
    font-style: normal;
}


